.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 400px 60px;
    gap: 10px;
}

.header {
    background-color: pink;
    grid-column: 1 / 3;
}

.sidebar {
    background-color: #2ecc71;
}

.content {
    background-color: orange;
}

.footer {
    grid-column: 1 / 3;
    background-color: #34495e;
    color: white;
}