* {
    margin: 0;
    padding: 60px;
}


h1 {
    color: red;
    background-color: yellow;
}


p {
    font-size: 40px;
    color: green;
    background-color: black;
}

.textCenter {
    text-align: center;
    text-decoration: underline;
}

#notes {
    border: red solid 11px;
}