:root {
    font-family: "algerian";
}


p:nth-child(odd) {
    margin: 0;
    background-color: green;
}

p:nth-child(even) {
    margin: 0;
    background-color: palevioletred;
}

p:nth-child(5) {
    text-align: center;
}



a:hover, button:hover {
    color: red;
    font-size: 15px;
}