* {
    margin: 0;
    padding: 60px;
}


h1 {
    color: red;
    background-color: yellow;
}


p {
    font-size: 40px;
    color: green;
    background-color: black;
}

.textCenter {
    text-align: center;
    text-decoration: underline;
}

#notes {
    border: red solid 11px;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  padding: 12px;
  text-align: center;
}

.navbar a{
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}
body{
  margin-top: 70px;
}