
input[type="text"], input[type="password"] {
    background-color: aqua;
    margin: 10px;
    border: red 5px solid;
    border-radius: 15px;
}


div h1 {
    text-align: center;
    border: blue 5px double;
}

div > h1 {
    background-color: yellow;
}
